*{
	padding: 0rem;
	margin: 0rem;
	list-style: none;
	/*font-family: "微软雅黑","苹方";*/
	text-decoration: none;
}



.content{
	width: 100%;
	height:auto;
	box-sizing: border-box;
	/*position: relative;*/
}

.cb{
	width: 0rem;
	height: 0rem;
	clear:both;
	display: block;
	content: "";
}

.head{
	width: 100%;
	height:0.92rem;
	background: red;
	background: url(../img/images/head_01.png) no-repeat;
	background-size: cover;
}
.banner{
	width: 100%;
	top:0.92rem;
	height: 2.8rem;
	background: red;
	background: url(../img/images/banner_02.png) no-repeat;
	background-size: cover;
}
.head1{
	width: 100%;
	height: 0.8rem;
	margin-top:0.0rem;
	box-sizing: border-box;
	padding-left: 0.2rem;
	padding-right: 0.2rem;
	font-size: 0.22rem;
	line-height: 0.8rem;
	color: #494747;
	background: #f5f6fa;
}
.head1 a{
	color: #494747;
}
.body1{
	width: 100%;
	height: auto;
	background: white;
	box-sizing: border-box;
	position: relative;
	padding-left: 0.2rem;
	padding-right: 0.2rem;
	background: #f5f6fa;
}
.body1 .con .title3{
	width: 100%;
	height: 0.8rem;
	font-size: 0.26rem;
	line-height: 0.8rem;
	color: black;
	line-height: 0.8rem;
	/*background: red;*/
}
.body1 .con{
	width: 100%;
	height:auto;
	margin-top: 0rem;
	background:white;
	box-sizing: border-box;
	padding:0.2rem;
	padding-bottom: 0.5rem;
	margin-bottom: 0.1rem;
}
.body1 .con .photo{
	width: 1.90rem;
	height:1.45rem;
	float:left;
	background: #c8c8c8;
	margin-right: 0.2rem;
}
.body1 .con .introduce{
	height: 100%;
}
.body1 .con .introduce span{
	height: 0.45rem;
	font-size: 0.24rem;
	color: #696868;
	line-height: 0.35rem;
	margin-top: 0.2rem;
	margin-left: 0rem;
}

.body1 .con .date{
	width: 100%;
	height: 0.6rem;
	/*display: inline-block;*/
	position: relative;
	top: 0.3rem;
	border-bottom: 1px solid #c8c8c8;
	border-top: 1px solid #c8c8c8;
}
.body1 .con .date img{
	width: 0.3rem;
	height: 0.3rem;
	position: absolute;
	top: 0.15rem;
	left: 0.1rem;
}
.body1 .con .date img:nth-of-type(2){
	left:31.33%;
}
.body1 .con .date img:nth-of-type(3){
	left:69.66%;
}
.body1 .con .date span{
	display: inline-block;
	height: 0.3rem;
	position: absolute;
	bottom: 0.15rem;	
	left: 0.5rem;
	line-height: 0.3rem;
	font-size: 0.2rem;
	color: #c8c8c8;
}
.body1 .con .date span:nth-of-type(2){
   left:38%;
}
.body1 .con .date span:nth-of-type(3){
   left:76%;
}



.jump{
	width: 100%;
	height: 0.7rem;
	background: white;
	margin-top:0rem;
	box-sizing: border-box;
	padding-top:0.2rem;
}
.jump a{
	color: black;
}
.jump .ye{
	width: 100%;
	height: 0.3rem;
	background: white;
	/*background: red;*/
	box-sizing: border-box;
	padding-left:0.25rem;
}
.jump .ye .ju{
	width: 0.6rem;
	height: 0.3rem;
	float:left;
	border-radius: 0.15rem;
	border:1px solid #999999;
	box-sizing: border-box;
	padding:0.01rem;
	font-size: 0.22rem;
	line-height: 0.3rem;
}
.jump .ye .j2{
	margin-left: 0.1rem;
}
.jump .ye .j3{
	margin-left: 0rem;
	border:1px solid #f2f2f2;
}
/*.jump .ye .j3 .ju-{
	border:1px solid #ebeaeb; 
}*/
.jump .ye .ju .ju-{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border-radius:0.149rem;
	border:1px solid black; 
	line-height: 0.26rem;
	text-align: center;
	font-size: 0.28rem;
	letter-spacing: 0.01rem;
	text-align: center;
	position: relative;
}
.icon-htmal5icon39:before{
    color: #383838;
	font-size: 0.25rem;
	top:0;
	bottom:0;
	margin:auto;

}
.icon-htmal5icon36:before{
    color: #383838;
	font-size: 0.25rem;
	top:0;
	bottom:0;
	margin:auto;

}
.jump .ye .yuan1{
	width: 0.3rem;
	height: 0.3rem;
	float:left;
	border-radius: 0.15rem;
	border:1px solid #999999;
	box-sizing: border-box;
	padding:0.01rem;
	margin-left: 0.1rem;
}
.jump .ye .yl{
	position: absolute;
	right:0.35rem;
}
.jump .ye .yuan1 .yuan1-{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border-radius:0.149rem;
	border:0.01rem solid black; 
	line-height: 0.28rem;
	text-align: center;
	font-size: 0.14rem;
}
.jump .ye .diandian{
	float:left;
	font-size: 0.24rem;
	line-height: 0.2rem;
	margin-top: 0rem;
	margin-left: 0.2rem;
	margin-right: 0.1rem;
}
.jump .ye .d2{
	font-size: 0.14rem;
	line-height: 0.3rem;
}
.jump .ye .d3{
	font-size: 0.14rem;
	line-height: 0.3rem;
	position: absolute;
	left:6.2rem;
	/*left: -0.20rem;*/
}





.bottom{
	width: 100%;
	height: 1.1rem;
	margin-top: 0.2rem;
	font-size: 0.2rem;
	color: #666666;
	text-align: center;
	line-height: 0.4rem;
}